<footer id="colophon" class="site-footer" role="contentinfo">
        	<div class="footer-bg clearfix">
                <div class="widget-wrap">
                                    </div>
			</div>
			<div class="site-info">
                <div class="copyright">
				O Departamento de Computação e Sistemas Digitais, a Escola Politécnica e a Universidade de São Paulo não se responsabilizam pelo conteúdo incluído nos sites dos Laboratórios e Professores.<br>
			    Copyright &copy;  Colaborador Modelo 
                </div>            
 			</div><!-- .site-info -->
		</footer><!-- #colophon -->